* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  background-color: blue;
  height: 100px;
  text-align: center;
  font-size: 70px;
}

#Colums25 {
  background-color: red;
  height: 400px;
  width: 25%;
  float: left;
  text-align: center;
  font-size: 70px;
  padding-top: 150px;
}
#Column50 {
  background-color: yellow;
  height: 400px;
  width: 50%;
  float: left;
  text-align: center;
  font-size: 70px;
  padding-top: 150px;
}
#column25 {
  background-color: green;
  height: 400px;
  width: 25%;
  float: left;
  text-align: center;
  font-size: 70px;
  padding-top: 150px;
}
#clear {
  clear: both;
}
#footer {
  background-color: black;
  height: 100px;
  text-align: center;
  font-size: 70px;
  color: white;
}
