* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0ba6df;
}
#header {
  text-align: center;
  background-color: #ef7722;
  height: 50px;
  font-size: 40px;
}
nav {
  overflow: hidden;
  background-color: #ebebeb;
  height: 40px;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  float: left;
}
nav ul li a {
  display: inline-block;
  color: #1e93ab;
  text-decoration: none;
  text-align: center;
  padding: 12px 16px;
  transition: 0.5s;
}
nav ul li a:hover {
  color: black;
  background-color: #faa533;
}
#sayfa {
  background-color: #faa533;
  width: 1000px;
  margin-top: 10px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}
.kutu30 {
  width: 25%;
  padding: 5px;
  float: left;
}
.kutu70 {
  width: 75%;
  padding: 5px;
  float: left;
  margin-top: 20px;
  text-align: center;
}
.row {
  width: 100%;
}
.row::after {
  display: block;
  content: "";
  clear: both;
}
.kutu2 {
  width: 50%;
  padding: 20px;
  float: right;
  border: 1px solid black;
  box-shadow: 3px 3px 5px black;
}
